@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /* Theme color */
  --bg-color: #f9fdf9;
  --text-color: #1a1a1a;

  /* custom colors */
  --sea-green: #279d60;
  --sea-green-alpha: #279d6077;
  --sea-green-alpha2: #279d60e1;
  --tea-green: #c5e8c7;

 /**
   * TYPOGRAPHY
   */

   /* font-family */
   --fontfamily-outfit: "Outfit", sans-serif;

}

/* [data-theme="dark"] {
  --bg-color: #181212;
  --text-color: #f0f0f0;

} */

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select {
  background: none;
  border: none;
}

input,
select{  outline: none; }

button{ cursor: pointer; }

a{
  color: inherit;
  text-decoration: none;
}

html {
  font-size:10px;
}

body {
  /* background-color: var(--bg-color);
  color: var(--text-color); */
  background-color: var(--text-color);
  color: var(--bg-color);
  font-family: var(--fontfamily-outfit);
  font-size: 2rem;
  overflow: hidden;
  min-height: 100vh;
}

.auth-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-section{
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  justify-content: center;
  align-items: stretch;
  border: 2px solid var(--sea-green-alpha);
  border-radius: 10px;
  max-width: 90vw;
}

.auth-section .auth-page-illustrator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 2rem;
  /* background-color: #ffffff; */
  background-color: black;
  border-radius: inherit;
}

.auth-page-illustrator .illustrator-image{
  width: 50%;
}

.auth-page-illustrator-heading{
  font-size: 3rem;
  text-align: center;
}

.auth-page-illustrator-paragraph{
  font-size: 2rem;
  text-align: center;
  opacity: 0.7;
}

.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.form-control .logo-image{
  display: block;
  width: 20rem;
  margin: 0 auto 2rem;
}

.form-control .form-heading{
  font-size: 3rem;
  text-align: center;
}
 .form-control .form-paragraph{
  font-size: 2rem;
  text-align: center;
  opacity: 0.7;
 }

 .form-control .form-label{
  display: flex;
  justify-content: space-between;
  align-items: end;
 }

 .form-control .error-message{
  font-size: 1.8rem;
  color: #ff0000;
 }

 .form-control .form-area.error{
  border-color: #ff0000;
 }

 .form-control .error-message-tick{
  margin-top: 1rem;
 }

 .form-control .form-field{
  margin: 2rem 0;
 }
 
 .form-control .form-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border: 1px solid #63606059;
  border-radius: 20px;
  padding: 0 1rem;
  margin: 1rem 0 2rem;
 }

 .form-control .form-area .formfield-image-wrapper{
  width: 40px;
 }

 .form-control .form-area img{
  display: block;
  width: 2.5rem;
  /* filter: invert(1); */
  margin: auto;
 }

 .form-control .form-area input{
  width: calc(100% - 40px);
  height: inherit;
  font-size: inherit;
 }

 .form-control .password-warning{
  margin-top: -20px;
  font-size: 2rem;
 }

 .greenify-text{
  color: var(--sea-green);
 }

 .greenify-text:hover{
  text-decoration: underline;
 }

.form-control .checkbox-wrapper {
  position: relative;
  font-size: 1.9rem;
  padding-left: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Completely hide actual checkbox */
.form-control .custom-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Circle box */
.form-control .checkbox-wrapper .custom-check {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--sea-green);
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  z-index: 1;
}

.form-control .custom-checkbox:not(:checked):hover ~ .custom-check {
  border-color: transparent;
  background-color: var(--tea-green);
}

.checkbox-wrapper .custom-checkbox:checked ~ .custom-check {
  background-color: var(--sea-green);
  border-color: transparent;
}

.custom-check::after{
  content: "";
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  border: solid var(--bg-color);
  border-width: 0 3px 3px 0;
  left: 0.8rem;
  top: 0.4rem;
  transform: rotate(45deg);
}


.checkbox-wrapper .custom-checkbox:focus ~ .custom-check{
  box-shadow: 0 0 0 4px var(--sea-green-alpha);
}

.form-control .form-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 5rem;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  background-color: var(--sea-green);
  border-radius: 24px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--bg-color);
}

.form-control .form-button .loading-spinner{
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.2);;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from{ transform: rotate(0); }
  to{ transform: rotate(1turn); }
}

.form-control .form-button:hover{
  background-color: var(--sea-green-alpha2);
}

.form-control .form-button:active{
  transform: scale(0.95);
}

.form-switcher{
  font-size: 2.2rem;
  margin-top: 2rem;
}

 .form-control .otp-field{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0 4rem;
 }

 .form-control .otp-field .otp-form-field{
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--sea-green);
  border-radius: .8rem;
  color: var(--sea-green);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
 }

/* Extra small devices (phones, <576px) */
@media only screen and (max-width: 575.98px) {

  html {
  font-size:8px;
}
.auth-section{
  display: grid;
  grid-template-columns: 1.4fr;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--sea-green-alpha);
  border-radius: 10px;
  max-width: 90vw;
}
  .auth-section .auth-page-illustrator{
  display: none;
}
}

/* Small devices (landscape phones, ≥576px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  
  html {
  font-size:8px;
}

body {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: 100vh !important;
}

}

/* Medium devices (tablets, ≥768px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* styles for tablets */
  html {
  font-size:9px;
}
}

/* Large devices (desktops, ≥992px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* styles for small laptops */
  html {
  font-size:9px;
}
}

/* Extra large devices (large desktops, ≥1200px) */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  /* styles for desktops */
  html {
  font-size:9px;
}
}

/* Ultra-wide screens (TVs or large monitors, ≥1400px) */
@media only screen and (min-width: 1400px) {
  /* styles for ultra-wide screens */
  html {
  font-size:10px;
}
}


